{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your account at GPU Rig Monitor.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your email address:" %} {{ user.get_username }}

{% trans "Thanks for using GPU Rig Monitor!" %}

{% blocktrans %}The GPU Rig Monitor team{% endblocktrans %}
{% endautoescape %}